<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="description" content="Book your scooter rental in Cape Town online with ABC Scooter Hire. Explore the city on one of our stylish scooters. Reserve now!">

</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}


{% for message in messages %}
{% if "success" in message %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}


{% endif %}
{% endwith %}


<!--    <header>-->
        <nav class="navbar navbar-expand-lg" style="background-color: #4B70F5; position: fixed; z-index: 5; width: 100vw;">
  <div class="container-fluid">
      <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
    <button class="navbar-toggler" style=" background: white;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a  href="#price">Scooter</a></li>
                 <li class="nav-item"><a href="#bmw">BMW</a></li>
          <li class="nav-item"><a href="#ford">Ford</a></li>
<!--                <li class="nav-item"><a href="#bank">Bank</a></li>-->
<!--                <li class="nav-item"><a href="{{ url_for('news') }}">News</a></li>-->
                <li class="nav-item"><a href="#contact-us">Contact / Book</a></li>
          <li class="nav-item"><a href="#terms">T's & C's</a></li>
      </ul>
    </div>
  </div>
</nav>


<!--    </header>-->

    <main>
        {% block content %}{% endblock %}
    </main>
<!--    <footer>-->
<!--        <div class="contact-info">-->
<!--            <p>123 Main Street, Simon's Town, South Africa</p>-->
<!--            <p>Phone: 123-456-7890</p>-->
<!--            <p>Email: info@simonstowncycles.co.za</p>-->
<!--        </div>-->
<!--        <div class="social-media">-->
<!--            <a href="#">Facebook</a>-->
<!--            <a href="#">Twitter</a>-->
<!--            <a href="#">Instagram</a>-->
<!--        </div>-->
<!--    </footer>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>