{% extends 'base.html' %}
{% block content %}

<div class="banner" style="padding-top: 60px">
    <img  src="{{ url_for('static', filename='images/banner1.png') }}" alt="Banner Image" class="top-image">
    <img  src="{{ url_for('static', filename='images/cape-town.jpg') }}" alt="Banner Image" class="bottom-image">
</div>
<!--<section class="introduction">-->
<!--    <h2>Welcome to Scoot Along</h2>-->
<!--    <p>Your one-stop shop for all your scooter needs.</p>-->
<!--</section>-->

<section class="introduction">

    <div class="intro-text">
        <h2 class="intro-header">WELCOME TO SCOOT ALONG</h2>
        <h1>YOUR GO-TO DESTINATION FOR ALL THINGS SCOOTER RELATED IN CAPE TOWN</h1>
        <p>Located conveniently at 66 St. Georges Street, Simon’s Town, we offer top-notch scooter and motorbike rentals, and more. Whether you need to explore the scenic beauty of Cape Town on two wheels, we have you covered. Our dedicated team is committed to providing excellent service.</p>
    </div>
    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/fleet.jpeg') }}" alt="Product 2">
    </div>
</section>

<section class="pricing" id="price" style="padding-top: 60px">

    <div class="pricing-text">
<!--        <h2 class="intro-header">PRICING</h2>-->
        <h1 class="intro-header">SCOOTER HIRE RENTAL</h1>
        <div class="table-responsive">
        <table class="table table-striped">
<!--  <caption>List of users</caption>-->
  <thead class="table-dark">
    <tr>
      <th style="background-color: #C80036" scope="col">DURATION</th>
      <th style="background-color: #C80036" scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Half day (4 Hours)</td>
      <td class="cost">R 400</td>
    </tr>
    <tr>
      <td>Full Day</td>
      <td class="cost">R 600</td>
    </tr>
  <tr>
      <td>Overnight</td>
      <td class="cost">R 700</td>
    </tr>
    <tr>
      <td>Weekly</td>
      <td class="cost">R 2 100</td>
    </tr>
    <tr>
      <td>Monthly</td>
      <td class="cost">R 6 600</td>
    </tr>
  </tbody>
</table>
        </div>
        <p style="color: white;">Refundable deposit of R 3 000 and R 100 contract fee</p>
        </div>
    <div class="intro-image" style="display: flex; justify-content:center ">
        <img style="width: 50%; border-radius: 5%" src="{{ url_for('static', filename='images/girl.jpeg') }}" alt="Product 2">
<!--        <img style="width: 50%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-05.png') }}" alt="Product 2">-->
    </div>
        </section>

<section class="introduction" id="bmw" style="padding-top: 60px">


    <div class="intro-text" >
        <h2 class="intro-header">BMW G 310 GS RENTAL</h2>
        <h1>The G 310 GS is the perfect companion for discovering the city, beyond its borders and off the asphalt roads.</h1>
        <p>Thanks to the optimised engine with Ride by Wire and anti-hopping clutch, you can master the peninsula and go on trips into the surrounding area. Your adventure doesn’t have to be big to be unforgettable.</p>
    </div>
    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">
    </div>
</section>


<section class="pricing" >
     <div class="pricing-text">
        <h1 class="intro-header">BMW G 310 GS RENTAL</h1>
         <div class="table-responsive">
        <table class="table table-striped">
<!--  <caption>List of users</caption>-->
  <thead class="table-dark" style="background-color: #C80036">
    <tr>
      <th style="background-color: #C80036" scope="col">DURATION</th>
      <th style="background-color: #C80036" scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 to 3 Days</td>
      <td class="cost">R2,100 per day</td>
    </tr>
    <tr>
      <td>4-6 Days</td>
      <td class="cost">R1,900 per day</td>
    </tr>
  <tr>
      <td>7 Days plus</td>
      <td class="cost">R1,700 per day</td>
    </tr>

  </tbody>
</table>
             </div>
        <p style="color: white;">300 kms free | Extra kms: R6.50 per km <br />
Refundable deposit of R8,000 required plus R100 contract fee. <br />
The rider must be in possession of a valid South African or International motorcycle licence.</p>

    </div>
    <div class="intro-image" style="display: flex; justify-content:center ">
<!--        <img style="width: 50%; border-radius: 5%" src="{{ url_for('static', filename='images/girl.jpeg') }}" alt="Product 2">-->
        <img style="width: 70%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-05.png') }}" alt="Product 2">
    </div>
</section>

<section class="introduction"  style="padding-top: 60px" id="bank">


    <div class="intro-text" >
        <h2 class="intro-header">BANKING DETAILS</h2>
<!--        <h1>The G 310 GS is the perfect companion for discovering the city, beyond its borders and off the asphalt roads.</h1>-->
        <p><strong>Account Details</strong><br />
            <strong>Bank name:</strong> Standard Bank<br />
            <strong>Branch name:</strong> BLUE ROUTE CENTRE<br />
            <strong>Account holder:</strong> SCOOT ALONG<br />
            <strong>Account number:</strong> 10 21 993 307 1<br />
            <strong>Account type:</strong> CURRENT<br />
            <strong>SWIFT code:</strong> SBZAZAJJ.</p>
    </div>
    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">
    </div>
</section>
<section class="contact"  style="padding-top: 60px" id="contact-us">
<div class="contact-text">
    <h1 class="intro-header">RENT OR CONTACT</h1>
       <form method="POST" enctype="multipart/form-data"
                  style="border: solid 2px #789461; border-radius: 15px; padding: 10px;">
                <div class="mb-3">
                    <label for="title" class="form-label" style="color: white;">Name</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Name"
                           value="{{ title }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label" style="color: white;">Email address</label>
                    <input type="email" class="form-control" name="email" id="email"
                           placeholder="name@example.com" value="{{ email }}">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label" style="color: white;">Feedback</label>
                    <textarea class="form-control" id="content" name="content" rows="3"
                              placeholder="Tell me what your needs are, lets see if I can help." value="{{ content }}"
                    ></textarea>
                </div>

                <button type="submit" class="btn btn-outline" style="color: #789461">Submit</button>
            </form>
    </div>
<!--    <div class="intro-image">-->
<!--        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">-->
<!--    </div>-->
</section>


{% endblock %}