{% extends 'base.html' %}
{% block content %}

<div class="banner" style="padding-top: 60px">
    <img  src="{{ url_for('static', filename='images/banner1.png') }}" alt="Banner Image" class="top-image">
    <img  src="{{ url_for('static', filename='images/cape-town.jpg') }}" alt="Banner Image" class="bottom-image">
</div>

<section class="introduction">

    <div class="intro-text">
        <h2 class="intro-header">WELCOME TO SCOOT ALONG</h2>
        <h1>YOUR GO-TO DESTINATION FOR ALL THINGS SCOOTER RELATED IN CAPE TOWN</h1>
        <p>Located conveniently in Simon’s Town and Diep River, we offer top-notch scooter, motorbike and Motor Vehicle rentals, and more. Whether you need to explore the scenic beauty of Cape Town on two wheels, we have you covered. Our dedicated team is committed to providing excellent service.</p>
    </div>
    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/fleet.jpeg') }}" alt="Product 2">
    </div>
</section>

<section class="pricing" id="price" style="padding-top: 60px">

    <div class="pricing-text">
        <h1 class="intro-header">SCOOTER HIRE RENTAL</h1>
        <div class="table-responsive">
        <table class="table table-striped">
<!--  <caption>List of users</caption>-->
  <thead class="table-dark">
    <tr>
      <th style="background-color: #C80036" scope="col">DURATION</th>
      <th style="background-color: #C80036" scope="col">PRICE</th>
        <th style="background-color: #C80036" scope="col">CONDITIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Full Day</td>
      <td class="cost">R 500</td>
        <td class="cost">Pickup 9am - Return 5pm</td>
    </tr>
  <tr>
      <td>Overnight</td>
      <td class="cost">R 600</td>
      <td class="cost">Pickup 9am - Return 9am</td>
    </tr>
    <tr>
      <td>1 Week</td>
      <td class="cost">R 3 500</td>
        <td class="cost">Pickup 9am - Return 9am</td>
    </tr>
    <tr>
      <td>1 Month</td>
      <td class="cost">R 11 350</td>
        <td class="cost">Pickup 9am - Return 9am</td>
    </tr>
  </tbody>
</table>
        </div>
        <p style="color: white;">Refundable deposit of R 5,000 per Scooter and R 100 contract fee. Pickup and Collection, Simonstown or Diep River.</p>
        </div>
    <div class="intro-image" style="display: flex; justify-content:center ">
        <img style="width: 50%; border-radius: 5%" src="{{ url_for('static', filename='images/girl.jpeg') }}" alt="Product 2">
<!--        <img style="width: 50%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-05.png') }}" alt="Product 2">-->
    </div>
        </section>

<section class="introduction" id="bmw" style="padding-top: 60px">


    <div class="intro-text" >
        <h2 class="intro-header">BMW G 310 GS RENTAL</h2>
        <h1>The G 310 GS is the perfect companion for discovering the city, beyond its borders and off the asphalt roads.</h1>
        <p>Thanks to the optimised engine with Ride by Wire and anti-hopping clutch, you can master the peninsula and go on trips into the surrounding area. Your adventure doesn’t have to be big to be unforgettable.</p>
    </div>
    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">
    </div>
</section>


<section class="pricing" >
     <div class="pricing-text">
        <h1 class="intro-header">BMW G 310 GS RENTAL</h1>
         <div class="table-responsive">
        <table class="table table-striped">
  <thead class="table-dark" style="background-color: #C80036">
    <tr>
      <th style="background-color: #C80036" scope="col">DURATION</th>
      <th style="background-color: #C80036" scope="col">PRICE</th>
        <th style="background-color: #C80036" scope="col">CONDITIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Per Day</td>

        <td class="cost">R1 850</td>
        <td class="cost">Pickup 9am - Return 5pm</td>
    </tr>
    <tr>
      <td>Per Week</td>
      <td class="cost">R6 650 per day</td>
        <td class="cost">Pickup 9am - Return 5pm</td>
    </tr>


  </tbody>
</table>
             </div>
        <p style="color: white;">300 kms free | Extra kms: R6.50 per km <br />
Refundable deposit of R8,000 per bike required plus R100 contract fee. Pickup and Collection, Simonstown or Diep River. <br />
The rider must be in possession of a valid South African or International motorcycle licence.</p>

    </div>
    <div class="intro-image" style="display: flex; justify-content:center ">
        <img style="width: 70%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-05.png') }}" alt="Product 2">
    </div>
</section>

<section class="introduction" id="ford" style="padding-top: 60px">


    <div class="intro-text" >
        <h2 class="intro-header">FORD ECOSPORT RENTAL</h2>
        <h1>Aircon , powersteering,  electric windows,  bluetooth connectivity manual gearbox.</h1>
<!--        <p>Thanks to the optimised engine with Ride by Wire and anti-hopping clutch, you can master the peninsula and go on trips into the surrounding area. Your adventure doesn’t have to be big to be unforgettable.</p>-->
    </div>
    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/eco2.jpeg') }}" alt="Product 2">
    </div>
</section>


<section class="pricing" >
     <div class="pricing-text">
        <h1 class="intro-header">FORD ECOSPORT RENTAL</h1>
         <div class="table-responsive">
        <table class="table table-striped">
  <thead class="table-dark" style="background-color: #C80036">
    <tr>
      <th style="background-color: #C80036" scope="col">DURATION</th>
      <th style="background-color: #C80036" scope="col">PRICE</th>
        <th style="background-color: #C80036" scope="col">CONDITIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Per Day</td>

        <td class="cost">R 600</td>
        <td class="cost">Pickup 9am - Return 5pm</td>
    </tr>
<!--    <tr>-->
<!--      <td>Per Week</td>-->
<!--      <td class="cost">R6 650 per day</td>-->
<!--        <td class="cost">Pickup 9am - Return 5pm</td>-->
<!--    </tr>-->


  </tbody>
</table>
             </div>
        <p style="color: white;">300 kms free | Extra kms: R6.50 per km <br />
Refundable deposit of R8,000 required plus R100 contract fee. <br />
The driver must be in possession of a valid South African or International driver's licence.</p>

    </div>
    <div class="intro-image" style="display: flex; justify-content:center ">
        <img style="width: 70%; border-radius: 5%" src="{{ url_for('static', filename='images/eco4.jpeg') }}" alt="Product 2">
    </div>
</section>


<section class="introduction"  style="padding-top: 60px" id="bank">


    <div class="intro-text" >
        <h2 class="intro-header">BANKING DETAILS</h2>
        <p><strong>Account Details</strong><br />
            <strong>Bank name:</strong> Standard Bank<br />
            <strong>Branch name:</strong> BLUE ROUTE CENTRE<br />
            <strong>Account holder:</strong> SCOOT ALONG<br />
            <strong>Account number:</strong> 10 21 993 307 1<br />
            <strong>Account type:</strong> CURRENT<br />
            <strong>SWIFT code:</strong> SBZAZAJJ.</p>

    </div>

    <div class="intro-image">
        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">
    </div>
</section>

<section>

    </section>

<section class="contact"  style="padding-top: 60px" id="contact-us">
<div class="contact-text">
    <h1 class="intro-header">RENT OR CONTACT</h1>
       <form method="POST" enctype="multipart/form-data"
                  style="border: solid 2px #789461; border-radius: 15px; padding: 10px;">
           <div class="mb-3" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
               <div class="mb-3">
                <label for="productSelect" class="form-label" style="color: white;">Product to Rent</label>
               <select class="form-control form-text" id="productSelect" name="productSelect" onchange="updateMaxNumber()" placeholder="Choose Product" required>

                <option value="Scooter">Scooter</option>
                <option value="BMW G 310 GS">BMW G 310 GS</option>
                   <option value="FORD ECO SPORT">FORD ECO SPORT</option>
            </select>
                   </div>
               <div class="mb-3">
                   <label for="number" class="form-label" style="color: white;">Number</label>
               <input class="form-control form-text" type="number" step="1" min="1" max="4" value="1" name="number" id="number" onchange="updateMaxNumberChosen()" required>
                   </div>
               <div class="mb-3">
                     <label for="date-start" class="form-label" style="color: white;">Start</label>
               <input class="form-control form-text" type="date" name="date-start" id="date-start" onchange="onDateStartChange()" required>
<!--                   <label for="time-start" class="form-label" style="color: white;">Time</label>-->
<!--                   <input class="form-control form-text" type="time" name="time-start" id="time-start" value="09:00">-->
                   </div>
               <div class="mb-3">
                     <label for="date-end" class="form-label" style="color: white;">End</label>
               <input class="form-control form-text" type="date" name="date-end" id="date-end" onchange="onDateEndChange()" required>
<!--                   <label for="time-end" class="form-label" style="color: white;">Time</label>-->
<!--                   <input class="form-control form-text" type="time" name="time-end" id="time-end" value="13:00">-->
                   </div>

           </div>

                <div class="mb-3">
                    <label for="deposit" class="form-label" style="color: white;">Deposit</label>
                    <input type="text" class="form-control" id="deposit" name="deposit" placeholder="Deposit" value="R 5000" readonly>

                </div>
           <div class="mb-3">
                    <label for="rental" class="form-label" style="color: white;">Rental Estimate</label>
                    <input type="text" class="form-control" id="rental" name="rental" placeholder="rental" value="To be emailed to you" readonly>

                </div>
           <div class="mb-3">
                    <label for="contract_fee" class="form-label" style="color: white;">Contract Fee</label>
                    <input type="text" class="form-control" id="contract_fee" name="contract_fee" placeholder="Deposit" value="R 100" readonly>

                </div>
           <div class="mb-3">
                    <label for="name" class="form-label" style="color: white;">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                           value="{{ name }}" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label" style="color: white;">Email address</label>
                    <input type="email" class="form-control" name="email" id="email"
                           placeholder="name@example.com" value="{{ email }}" required>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label" style="color: white;">Feedback</label>
                    <textarea class="form-control" id="content" name="content" rows="3"
                              placeholder="Tell me what your needs are, lets see if I can help." value="{{ content }}"
                    ></textarea>
                </div>
           <div class="mb-3">
               <p style="color: white;">These are "rough" estimates only. A formal quote will be emailed to you as soon as possible.</p>
           </div>




                <button type="submit" class="btn btn-danger" style="color: #789461">Submit</button>
           <button type="reset" class="btn btn-secondary" style="color: #789461">Reset</button>

            </form>
    </div>
<!--    <div class="intro-image">-->
<!--        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">-->
<!--    </div>-->
</section>

<section class="terms"  style="padding-top: 60px" id="terms">
<div class="terms-text">
    <h1 class="intro-header text-center" >TERMS AND CONDITIONS</h1>
    <div style="display: flex; justify-content: flex-start; flex-direction: column;">
        <strong>Use of the Vehicle:</strong><br /><br /><br />
a. The Renter agrees to use the vehicle only for personal transportation and will not use it for any illegal activities.<br />
b. The Renter will operate the vehicle in a safe and responsible manner, obeying all traffic laws and regulations.<br /><br />
<strong>Condition and Return of the vehicle:</strong><br /><br />
a. The Company will provide the vehicle to the Renter in good working condition and with a full tank of fuel.<br />
b. The Renter agrees to return the vehicle in the same condition as received, normal wear and tear expected, at
the end of the rental period.<br />
c. Any damage to the vehicle during the rental period will be the responsibility of the Renter.
<strong>Payment and Security Deposit:</strong><br /><br />
a. The Renter agrees to pay the rental fee upfront before the rental period begins.<br />
        b. The Renter will provide a security deposit upon pickup of the vehicle or <u>earlier to ensure booking dates are secured,</u> which will be refunded within 5 business
days after the vehicle is returned, minus any applicable fees or charges.<br /><br />
<strong>Refueling:</strong><br /><br />
a. The vehicle will be provided to the Renter with a full tank of fuel at the beginning of the rental period.<br />
b. The Renter is responsible for returning the vehicle with a full tank of fuel. If the vehicle is returned with less fuel,
a refueling fee will be charged.<br /><br />
<strong>Liability and Insurance:</strong><br /><br />
a. The Renter assumes full liability for any accidents, injuries, damages, or losses incurred while operating the
vehicle.<br /><br />
<strong>Termination:</strong><br /><br />
a. The Company reserves the right to terminate this agreement and reclaim the vehicle if the Renter violates any
terms or conditions of this agreement.<br /><br />
This Agreement shall be governed by and construed in accordance with the laws of South Africa.
        </div>
    </div>
<!--    <div class="intro-image">-->
<!--        <img style="width: 100%; border-radius: 5%" src="{{ url_for('static', filename='images/bmw-gs310-02.png') }}" alt="Product 2">-->
<!--    </div>-->
</section>


{% endblock %}


